.appartement__header {
  display: flex;
  margin-top: 1em;

  .appartement__title {
    color: #FF6060;
    flex-grow: 1;

    h1 {
      font-weight: 500;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0.3rem;
      font-weight: 100;
    }

    .appartement__tags {
      display: flex;
      gap: 1rem;

      span {
        width: 10em;
        background-color: #FF6060;
        color: #fff;
        padding: 0.3em 1em;
        border-radius: 0.7rem;
        text-align: center;
      }
    }
  }

  .appartement__owner__details {
    color: #FF6060;
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    h3 {
      width: 45%;
      font-weight: 400;
      text-align: right;
    }

    .appartement__badge img {
      width: 64px;
      height: 64px;
      border-radius: 2rem;
      margin-top: 0.5em;
    }
  }

  .appartement__stars {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    gap: 1em;
    font-size: 1.5em;
    color: #C4C4C4;

    .on {
      color: #FF6060;
    }
  }
}

@media screen and (width <= 768px) {
  .appartement__header {
    flex-direction: column;
    margin-top: 0;

    .appartement__title {
      width: 100%;

      .appartement__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;

        span {
          width: 148px;
          padding: 0.3em 0.3em;
        }
      }
    }

    .appartement__owner {
      display: flex;
      justify-content: space-between;
      margin-top: 1em;

      .appartement__owner__details {
        order: 1;
      }

      .appartement__stars {
        gap: 0;
      }
    }
  }
}

