.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    color: #FF6060;
  
    &__logo {
      margin-right: auto;
      img {
        width: 60%;
      }
    }
    &__title {
      color: #FF6060;
    }
  
    a {
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
        color: #FF6060;
      }
    }
  }
  

@media screen and (width <= 768px) {
    .navbar {
      padding-bottom: 2em;   
      gap: 0; 
    .navbar__title {
      font-size: small;
      width: 6em;
      text-transform: uppercase;
      &:active {
        text-decoration: underline;
      }
      .navbar img {
        width: 80%;
      }
    }
  }
}
